body {
  font-family: Arial, sans-serif;

}

.big-container {
  position: relative;
  height:  600px;
  width: 800px;
  
}

.container {
  height: 600px;
  position: absolute;
  right: 0;
  width:200px;
  
 
}
  

.header {
  background-color: #a52a2a; 
  color: white;
  height:250px;
  width:200px;
  right:0;
  
  
}
.title {
  font-size: 24px; 
  font-weight: bold;
  text-align: center;
}

.title2 {
  font-size: 30px; 
  font-weight: bold;
  text-align: center;
}
.blue-section {
  background-color: #0000ff; 
  color: white;
  height:350px;
  width:200px;
  right:0;
  
}

.blue-section p {
  padding: 20px 10px ;
  margin: 0px;
}

.big-lightblue {
  position: absolute;
  height:600px;
  width:200px;
  right:200px;
  
  
}

.light-blue {
  position: absolute;
  background-color: rgb(129, 190, 210);
  height:400px;
  width:200px;
 
  
  bottom:0;
  z-index: 2;
  opacity: 50%;
  
}



.lightblue-top {
  position: absolute;
  background-color:  rgb(129, 190, 210);
  height:200px;
  width:200px;
  
  border-radius: 50% 50% 0 0;
  top: 0;
  opacity: 50%;
}


.green-box {
  background-color: rgb(6, 105, 6);
  width: 200px; 
  height: 200px; 
  position: absolute;
  left: 200px; 
  bottom:0; 
  opacity: 70%;
  z-index:4;
}


.red-circle {
  position: absolute;
  background-color: #a52a2a;
  border-radius: 50%;
  top:300px;
  left: 100px;
  width:200px;
  height: 200px;
  z-index:7;
}

.pink-circle {
  position: absolute;
  background-color: #ca6ea7;
  border-radius: 50%;
  top:200px;
  left: 300px;
  width:200px;
  height: 200px;
  opacity: 50%;
  
}

.white-circle {
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
   left: 100px;
  width:225px;
  height: 225px;
  top:300px;
  z-index:5;
}

.white {
  position : absolute;
  left:0;
  width: 200px;
  height: 600px;
}

.x-circle {
  width: 200px; 
  height: 200px; 
  position: absolute;
  left: 200px; 
  bottom:0; 
  border-radius: 50%;
  background-color: #a52a2a;
}